Repository cryostatio/cryostat-helm, pull requests merged in 2022-11, with the labels that each got.

#42 chore(versions): set version tags for 2.2.0 release point
  cryostat/Chart.yaml
  cryostat/values.yaml
Labels: chore, build

#44 fix(security): default to restricted pod security
  cryostat/Chart.yaml
  cryostat/README.md
  cryostat/values.schema.json
  cryostat/values.yaml
Labels: fix, backport

#47 chore(chart): specify kubeVersion constraints
  cryostat/Chart.yaml
Labels: chore, backport

#49 build(version): update versions for 2.2.0
  cryostat/README.md
  cryostat/values.schema.json
  cryostat/values.yaml
Labels: chore, build

#50 build(versions): update versions for 2.2.1-dev
  cryostat/Chart.yaml
  cryostat/README.md
  cryostat/values.schema.json
  cryostat/values.yaml
Labels: chore, build
