Repository cryostatio/cryostat-helm, pull requests merged in 2023-08, with the labels that each got.

#80 feat(ci): safe-to-test
  .mergify.yml
Labels: ci, safe-to-test

#81 chore(license): relicense project to Apache-2.0
  charts/cryostat/LICENSE
Labels: chore, safe-to-test

#82 feat(deploy): Provide Persistent Volume Claim
  charts/cryostat/README.md
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/pvc.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, safe-to-test
