Repository cryostatio/cryostat-helm, pull requests merged in 2023-10, with the labels that each got.

#93 build(release): prepare for cryostat 2.4.0 release
  .mergify.yml
  charts/cryostat/Chart.yaml
Labels: build, safe-to-test

#94 feat(ci): allow cryostatio backport command
  .github/workflows/ci.yml
  .mergify.yml
Labels: ci, safe-to-test

#95 feat(auth): allow optional basic authentication
  charts/cryostat/README.md
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, backport, safe-to-test

#98 chore(versions): use release branch for image tags
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#99 chore(version): change appVersion to 2.4.0-pre
  charts/cryostat/Chart.yaml
Labels: chore, safe-to-test
