Repository cryostatio/cryostat-helm, pull requests merged in 2023-12, with the labels that each got.

#102 ci(test-action): upgrade chart-testing-action
  .github/workflows/ci.yml
Labels: chore, backport, ci, safe-to-test

#100 chore(release): prepare 2.4.0 release
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#105 ci(release): call submodule update from release workflow
  .github/workflows/helm-release.yml
  .github/workflows/submodule.yml
Labels: backport, ci, safe-to-test

#108 Revert "Update index.yaml"
  index.yaml
Labels: safe-to-test

#109 chore(version): prepare for 2.4.1 development
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test
