Repository cryostatio/cryostat-helm, pull requests merged in 2023-05, with the labels that each got.

#63 chore(release): update for 2.3.0 release
  cryostat/Chart.yaml
  cryostat/README.md
  cryostat/values.schema.json
  cryostat/values.yaml
Labels: chore

#65 fix(secret): use release name in database secret
  cryostat/templates/_helpers.tpl
  cryostat/templates/deployment.yaml
  cryostat/templates/secret.yaml
Labels: fix

#64 chore(release): update for 2.3.1-snapshot development
  cryostat-0.3.0.tgz
  cryostat/Chart.yaml
  cryostat/README.md
  cryostat/values.schema.json
  cryostat/values.yaml
Labels: chore

#68 fix(note): fix incorrect service field in NOTES.txt
  cryostat/templates/NOTES.txt
Labels: fix, backport

#66 feat(deploy): minimal parameter for deploying Cryostat without grafana and datasource
  cryostat/Chart.yaml
  cryostat/README.md
  cryostat/templates/NOTES.txt
  cryostat/templates/deployment.yaml
  cryostat/templates/ingress.yaml
  cryostat/templates/route.yaml
  cryostat/templates/service.yaml
  cryostat/templates/tests/test-connection.yaml
  cryostat/values.schema.json
  cryostat/values.yaml
Labels: feat

#70 chore(chart): use 2.3.1-dev for appVersion
  cryostat/Chart.yaml
Labels: chore
