Repository cryostatio/cryostat-helm, pull requests merged in 2024-09, with the labels that each got.

#196 test(scripts): add scripts to ease local chart testing
  .github/workflows/chart-test.yml
  ct.bash
  k8s-test.bash
Labels: test, safe-to-test

#193 fix(db): correct hibernate config after Flyway introduction
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/tests/deployment_test.yaml
Labels: fix, safe-to-test

#191 feat(reports): enable optional reports generator deployment
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/templates/reports_deployment.yaml
  charts/cryostat/templates/reports_service.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, safe-to-test

#198 chore(release): set versions for 3.0.1
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#197 fix(selector): apply component labels/selectors
  charts/cryostat/templates/NOTES.txt
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/templates/cryostat_service.yaml
  charts/cryostat/templates/db_deployment.yaml
  charts/cryostat/templates/db_service.yaml
  charts/cryostat/templates/reports_deployment.yaml
  charts/cryostat/templates/reports_service.yaml
  charts/cryostat/templates/storage_deployment.yaml
  charts/cryostat/templates/storage_service.yaml
  charts/cryostat/templates/tests/test-core-connection.yaml
  charts/cryostat/templates/tests/test-grafana-connection.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/tests/cryostat_service_test.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/db_service_test.yaml
  charts/cryostat/tests/notes_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
  charts/cryostat/tests/storage_service_test.yaml
Labels: fix, safe-to-test

#202 feat(template): add major version suffix to deployment names
  charts/cryostat/templates/_helpers.tpl
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/templates/db_deployment.yaml
  charts/cryostat/templates/reports_deployment.yaml
  charts/cryostat/templates/storage_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
Labels: feat, chore, safe-to-test
