Repository cryostatio/cryostat-helm, pull requests merged in 2024-05, with the labels that each got.

#141 docs(readme): add missing field name for extra annotation
  charts/cryostat/README.md
  charts/cryostat/values.yaml
Labels: docs, safe-to-test

#138 fix(upgrade): fix errors during chart version upgrade
  .github/workflows/ci.yml
  charts/cryostat/ci/minimal-deploy-values.yaml
  charts/cryostat/ci/non-minimal-deploy-values.yaml
  charts/cryostat/templates/_helpers.tpl
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/oauth2Proxy.tpl
  charts/cryostat/templates/service.yaml
  charts/cryostat/templates/serviceaccount.yaml
Labels: fix, safe-to-test

#130 chore(storage): remove storage volume parameter overrides
  charts/cryostat/templates/deployment.yaml
Labels: chore, safe-to-test

#135 docs(scc): add notes on OpenShift SCC for default namespaces
  charts/cryostat/README.md
  charts/cryostat/values.yaml
Labels: docs, safe-to-test

#132 feat(openshift): add configuration for proxy SubjectAccessReview
  charts/cryostat/README.md
  charts/cryostat/templates/clusterrolebinding.yaml
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/oauth2Proxy.tpl
  charts/cryostat/templates/openshiftOauthProxy.tpl
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, safe-to-test
