Repository cryostatio/cryostat-helm, pull requests merged in 2024-07, with the labels that each got.

#165 chore(release): set versions for 3.0.0 release
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#166 chore(release): set versions for 3.0.1 development
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#167 chore(service): https port should not be exposed on k8s environment
  charts/cryostat/templates/service.yaml
Labels: chore, safe-to-test

#170 chore(kubeVersion): bump min support k8s version to 1.25.0
  charts/cryostat/Chart.yaml
Labels: chore, backport, safe-to-test

#172 chore(version): bump chart version to 2.0.0-dev
  charts/cryostat/Chart.yaml
Labels: chore, safe-to-test

#159 feat(Test): template tests
  .github/workflows/unittest.yml
  charts/cryostat/Chart.yaml
  charts/cryostat/TESTING.md
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/pvc.yaml
  charts/cryostat/tests/alpha_config_test.yaml
  charts/cryostat/tests/clusterrolebinding_test.yaml
  charts/cryostat/tests/db_secret_test.yaml
  charts/cryostat/tests/deployment_test.yaml
  charts/cryostat/tests/ingress_test.yaml
  charts/cryostat/tests/notes_test.yaml
  charts/cryostat/tests/pvc_test.yaml
  charts/cryostat/tests/role_test.yaml
  charts/cryostat/tests/rolebinding_test.yaml
  charts/cryostat/tests/route_test.yaml
  charts/cryostat/tests/service_test.yaml
  charts/cryostat/tests/serviceaccount_test.yaml
  charts/cryostat/tests/storage_access_secret_test.yaml
Labels: feat, test, safe-to-test

#173 ci(oci): push helm chart package to github container registry
  .github/workflows/helm-release.yml
  .github/workflows/push-oci.yml
Labels: feat, ci, safe-to-test

#174 ci(oci): use standard token for pushing package
  .github/workflows/push-oci.yml
Labels: ci, safe-to-test

#175 ci(oci): correct image name and skip release creation
  .github/workflows/push-oci.yml
Labels: ci, safe-to-test

#176 ci(oci): attempt to push using only registry/namespace
  .github/workflows/push-oci.yml
Labels: ci, safe-to-test

#178 chore(notes): simplify post-install steps for ClusterIP service case
  charts/cryostat/templates/NOTES.txt
  charts/cryostat/tests/notes_test.yaml
Labels: chore, safe-to-test

#179 ci(lint): reorganize workflows and add jobs to check readme diff
  .github/workflows/chart-lint.yml
  .github/workflows/chart-test.yml
  .github/workflows/ci.yml
  .github/workflows/push-oci.yml
  .github/workflows/submodule.yml
  .github/workflows/unittest.yml
  charts/cryostat/README.md
Labels: feat, chore, docs, ci, safe-to-test
