Repository cryostatio/cryostat-helm, pull requests merged in 2024-06, with the labels that each got.

#124 feat(cryostat3): deploy Cryostat 3.0
  .github/workflows/ci.yml
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/ci/minimal-deploy-values.yaml
  charts/cryostat/ci/non-minimal-deploy-values.yaml
  charts/cryostat/templates/NOTES.txt
  charts/cryostat/templates/_helpers.tpl
  charts/cryostat/templates/alpha_config.yaml
  charts/cryostat/templates/clusterrolebinding.yaml
  charts/cryostat/templates/db_connection_key_secret.yaml
  charts/cryostat/templates/db_encryption_key_secret.yaml
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/ingress.yaml
  charts/cryostat/templates/oauth2Proxy.tpl
  charts/cryostat/templates/openshiftOauthProxy.tpl
  charts/cryostat/templates/role.yaml
  charts/cryostat/templates/rolebinding.yaml
  charts/cryostat/templates/route.yaml
  charts/cryostat/templates/secret.yaml
  charts/cryostat/templates/service.yaml
  charts/cryostat/templates/serviceaccount.yaml
  charts/cryostat/templates/storage_access_key_secret.yaml
  charts/cryostat/templates/tests/test-core-connection.yaml
  charts/cryostat/templates/tests/test-grafana-connection.yaml
  charts/cryostat/templates/tests/test-storage-connection.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, breaking change, safe-to-test

#144 chore(cryostat): bump version to 4.0.0-dev
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#146 fix(authproxy): deploy openshift-oauth-proxy fork
  charts/cryostat/README.md
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: fix, backport, safe-to-test

#149 chore(release): update mergify config
  .mergify.yml
Labels: chore, safe-to-test

#147 fix(proxy): do not pass unused credentials upstream
  charts/cryostat/templates/openshiftOauthProxy.tpl
Labels: fix, backport, safe-to-test

#145 fix(urls): use relative Grafana ext url, remove unused storage ext url
  charts/cryostat/templates/NOTES.txt
  charts/cryostat/templates/deployment.yaml
Labels: fix, backport, safe-to-test

#153 chore(deployment): remove unused containerPort spec
  charts/cryostat/templates/deployment.yaml
Labels: chore, backport, safe-to-test

#154 chore(chart): update chart sources
  charts/cryostat/Chart.yaml
Labels: chore, docs, backport, safe-to-test

#152 fix(secret): database secret should be immutable
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/templates/_helpers.tpl
  charts/cryostat/templates/db_connection_key_secret.yaml
  charts/cryostat/templates/db_secret.yaml
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/storage_access_secret.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: fix, backport, safe-to-test

#160 chore(templates): ensure named templates follow helm best practices
  charts/cryostat/templates/NOTES.txt
  charts/cryostat/templates/_helpers.tpl
  charts/cryostat/templates/_oauth2Proxy.tpl
  charts/cryostat/templates/_openshiftOauthProxy.tpl
  charts/cryostat/templates/deployment.yaml
  charts/cryostat/templates/ingress.yaml
  charts/cryostat/templates/role.yaml
  charts/cryostat/templates/rolebinding.yaml
  charts/cryostat/templates/route.yaml
Labels: fix, chore, backport, safe-to-test
