Repository cryostatio/cryostat-helm, pull requests merged in 2025-04, with the labels that each got.

#221 fix(serviceaccount): non-Cryostat Pods run as default serviceaccount
  charts/cryostat/templates/db_deployment.yaml
  charts/cryostat/templates/reports_deployment.yaml
  charts/cryostat/templates/storage_deployment.yaml
  charts/cryostat/tests/cryostat_service_test.yaml
  charts/cryostat/tests/cryostat_tls_secret_test.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
Labels: fix, backport, safe-to-test

#215 feat(eventtemplates): declarative configuration of Event Template ConfigMaps
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, backport, safe-to-test

#222 feat(podAnnotations): individualized Pod Annotations
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/templates/db_deployment.yaml
  charts/cryostat/templates/reports_deployment.yaml
  charts/cryostat/templates/storage_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, backport, safe-to-test

#223 feat(scheduling): per-Deployment k8s scheduling options
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/templates/db_deployment.yaml
  charts/cryostat/templates/reports_deployment.yaml
  charts/cryostat/templates/storage_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, backport, safe-to-test

#224 fix(pvc): split PVC configuration between Deployments
  charts/cryostat/README.md
  charts/cryostat/templates/db_deployment.yaml
  charts/cryostat/templates/db_pvc.yaml
  charts/cryostat/templates/storage_deployment.yaml
  charts/cryostat/templates/storage_pvc.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/db_pvc_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
  charts/cryostat/tests/storage_pvc_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, backport, safe-to-test

#241 chore(release): set versions for 4.0.0 release
  charts/cryostat/Chart.yaml
  charts/cryostat/README.md
  charts/cryostat/tests/cookie_secret_test.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/tests/cryostat_service_test.yaml
  charts/cryostat/tests/cryostat_tls_secret_test.yaml
  charts/cryostat/tests/db_deployment_test.yaml
  charts/cryostat/tests/db_pvc_test.yaml
  charts/cryostat/tests/db_secret_test.yaml
  charts/cryostat/tests/db_service_test.yaml
  charts/cryostat/tests/reports_deployment_test.yaml
  charts/cryostat/tests/reports_secret_test.yaml
  charts/cryostat/tests/reports_service_test.yaml
  charts/cryostat/tests/role_test.yaml
  charts/cryostat/tests/route_test.yaml
  charts/cryostat/tests/storage_deployment_test.yaml
  charts/cryostat/tests/storage_pvc_test.yaml
  charts/cryostat/tests/storage_secret_test.yaml
  charts/cryostat/tests/storage_service_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: chore, safe-to-test

#230 feat(jmcagent): Implement declarative probe templates
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, safe-to-test

#231 feat(rules): Implement declarative automated rules
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, safe-to-test

#232 feat(credentials): Implement declarative stored credentials
  charts/cryostat/README.md
  charts/cryostat/templates/cryostat_deployment.yaml
  charts/cryostat/tests/cryostat_deployment_test.yaml
  charts/cryostat/values.schema.json
  charts/cryostat/values.yaml
Labels: feat, safe-to-test
